@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  padding: 0rem;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-size: 2rem;

}
.arrowButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color:white;
  margin-right:70px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects {
  margin-top: 37px;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-top: 1rem;


  /* to scroll */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0px;
  padding: 0px; */
}

@media screen and (max-width: 830px){
  .projects{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    }
  .projects::-webkit-scrollbar {
    display:none
  }
  .projects {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}
@media (min-width: 768px) {
  .projects {
    flex-wrap: wrap;
    overflow-x: visible;
  }

  .arrowButton {
    display: none; /* Hide arrow on larger screens */
  }
}
