@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 20px;
  margin-bottom: 20px;
  width: 250px;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), 
              box-shadow 0.4s ease, 
              background 0.4s ease; 
}

/* Darkens the card on hover */
.container:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 25px 0 rgba(4, 21, 45, 0.8);
  background: linear-gradient(180deg, #2e4b96 0%, #0c1d3e 100%); /* Darker shades */
}

.image {
  margin-bottom: 26px;
  border-radius:25px
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 400;
  margin:30px auto;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 15px;
  font-weight: 400;
  border-radius: 80px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.container
.links {
  width: 10em;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap:1em;

  
}

.link {
  width:8em;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  background: var(--color-primary);
  padding: 4px 20px;
  margin-left:47px;
  width:180px;
}


@media screen and (max-width: 830px){
  .container{
    flex: 0 0 auto;
    width: 80vw; /* or any fixed width */
    scroll-snap-align: start;
    padding: 20px;
    border-radius: 10px;
    height:1000px;
  
    
    
  }
  .link{
    margin-left:89px;
  width:200px;
  }
}