@import "../../vars.css";


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(1, 1, 41, 0.2);
  backdrop-filter: blur(2px);
}

.title {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  margin-left: 0;
}

.flower {
  font-size: 35px;
  margin-top: -15px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItems {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menuItems a {
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
}

.menuBtn {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
    width: 25%;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1) 100%);
    padding: 24px 33px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  }

  .menuBtn {
    display: block;
    width: 30px;
    height: 30px;
    margin-top:-45px;
    margin-right: 10px;
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
